<div class="jumbotron">
	<h1>Echo</h1>
	<p>
		Welcome to a new world of sharing your views with the people.
		<%= link_to "Coming soon", "#"%>
	</p>

	<p><%= link_to "Sign up Now!", "#", class: "btn btn-primary btn-large"%></p>
</div>